
<header>
<img class="logo" src="./images/1.svg"> 
<nav>
   <ul class="nav__links">
    <li><a href="#">Home</a></li>
    <li><a href="#">Sign Out</output></a></li>
   </ul>
</nav>
  </header>

  <section>
    <div class="container">
      <h1 class="title">
        Recipe Pop
      </h1>
  <div class="search">
    <form>
      <input type="text" placeholder="Search your recipe">
    </form>
        </div>
      </div>
    </div>
  </section>

    <script src="script.js"></script>