<h1 class="login">Login</h1>

    
    <form class="form login-fields">

    <div class="field-group">
        <label class="box-label" for="email-input">Email:</label>
        <input class="input-field" type="text" id="email-input"/>
    </div>

    <div class="field-group">
        <label class="box-label" for="password-input">Password:</label>
        <input class="input-field" type="text" id="password-input"/>
    </div>

    <div class="field-group">
        <button class="submit-button" type="submit" id="email-input">Login</button>
    </div>

    <div class="signup-link">
        <p>Dont have an account?<a href="#">Click here to create one.</a></p>
    </div>

    </form>

<script src="/js/login.js"></script>
