
<h1 class="login">Sign-Up</h1>

    
    <form class="signup-fields">

    <div class="field-group">
        <label class="box-label" for="email-create">Enter your email: </label>
        <input class="input-field" type="text" id="email-input"/>
    </div>

    <div class="field-group">
        <label class="box-label" for="password-create">Create a password: </label>
        <input class="input-field" type="text" id="password-input"/>
    </div>

    <div class="field-group">
        <label class="box-label" for="password-confirm">Confirm your password: </label>
        <input class="input-field" type="text" id="password-confirm"/>
    </div>

    <div class="field-group">
        <button class="submit-button" type="submit" id="signup-submit">Create Account</button>
    </div>

    </form>

<script src="/js/signup.js"></script>